* {
  box-sizing: border-box;
}
/* Header */
.main-nav a {
  color: white;
  text-decoration: none;
  background-color: rgb(222, 151, 53);
  padding: 10px;
}
.main-nav a:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 93, 29);
}
.wrapper {
  max-width: 1300px;
  margin: 0 auto;
}
.main-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 20px;
  flex-wrap: wrap;
}
.main-nav li {
  display: inline-block;
}
.logo {
  height: 100%;
}

/* slideshow */
.slider-wrapper {
  overflow: hidden;
}
.slider {
  position: relative;
  width: 200%;
  margin: 0;
  left: 0;
  animation: 12s slider infinite;
  display: flex;
  height: 500px;
}
.slide {
  width: 50%;
  flex-shrink: 0;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
/* Produktalternativ */
.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-top: 4rem;
}
.item {
  position: relative;
  text-align: left;
  padding: 20px;
  background-color: cadetblue;
}
.item h2 {
  margin: 0;
  margin-top: 10px;
}
.item p {
  font-size: 22px;
  color: rgb(61, 193, 51);
  margin: 0;
}
.item .price-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
}
.price-container img {
  width: 50px;
  height: auto;
  object-fit: cover;
}
.item .image-wrapper img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
}
.item .image-wrapper {
  position: relative;
}
.item .hover-images {
  position: absolute;
  top: 0;
}
.item .hover-images:hover {
  opacity: 0;
  cursor: pointer;
}
@keyframes slider {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
